<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/nav.ejs') %>

     <main> 
        <div class="container">
            <div class="row">
                <div class="col-md-12">

      
        <div class="add-course-title" id="title1"> 
             Add course 
        </div> 
        <form method="POST" action="/courses/add">
          
            <div class="add-course-name">     

            <label for="coursename"> <b> Course Name </b> </label>
            <input type="text" class="form-control" name="coursename" placeholder="Enter your course name" required/>  

            </div> 

            <div class="add-course-duration">     

            <label for="courseduration"> <b> Course Duration </b>  </label>
            <input type="number" class="form-control" name="courseduration"  placeholder="Enter your course duration"  required/> 
            
            </div>

            <div class="add-course-fees">     
            <label for="coursefees"> <b> Course Fees </b> </label>
            <input type="text" class="form-control" name="coursefees"  placeholder="Enter your course fees"  required/> 
            
            </div>

            <div class="btn-add" id="btn-add"> 
                  <input type="submit" class="btn btn-danger" value="Add to course"> 
            </input>
            
        </div>
        
         </form>
         </div>
 
    </div>
</div>
</main>


</body>
<script>


</script>

</html>
